<template>
  <div>
    <div class="block"
      v-for="data in list"
      :style="gen_style(data.value, data.positionX, data.positionY)"
    >
    </div>
  </div>
</template>

<script>
  
  export default {
    props:{
      list:Array
    },
    methods: {
      gen_style(now_data, x, y) {
        return {
          "width": now_data*50 + "px",
          "height": now_data*10 + "px",
          "backgroundColor": "rgb("+now_data*30+","+now_data*45+","+now_data*45+")",
          "top": y + "px",
          "left": x + "px"
        };
      }
    }
  }
</script>

<style>
 .block {
    position: absolute;
    margin: 15px 
    /*box-shadow: 3px -3px 5px #EE9900 inset;*/
  }

</style>