<template>
  <div class="row">
    <div class="col-sm" v-for= "item in list">
      <div class="card">
        <img :src="item.img" alt="" class="card-img-top">
        <div class="card-body">
          <h2>{{item.annotation}}</h2>
          <h4 class="card-tile">{{item.title}}</h4>
          <span class="badge badge-primary">{{item.tag}}</span>
          <p class="card-text"><small class="text-muted">like</small>{{item.like}}</p>
          <input type="text" v-model = "item.annotation"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  
  export default {
    props:{
      list:Array
    }
  }
</script>

<style>
  .card {
    color: gray;
    background-color: pink;
    float: left;
    margin: 30px;
    padding: 20px;
  }

</style>