<template>
  <div>
    <h5>
      <span class="badge badge-primary1">blog</span>
    </h5>
    <card :list="list">
    </card>
  </div>
</template>

<script>
  import card from './components/card.vue'
  
  export default {
    components: {card},
    data() {
      return {
        list:[
          {
            img:'static/v1.png',
            title:'vampire dairy',
            like:56,
            tag:'news',
            annotation:'hi'
          },{
            img:'static/v2.png',
            title:'cool',
            like:789,
            tag:'hot',
            annotation:'hi'
          }
        ]
      }
    }
  }
</script>