<template>
  <div class="graph">
    <div class="bars">
      <div class="bar"
        v-for="data in datas"
        :style="gen_style(data.value)"
      >
        <span class="text">
          {{ data.value }}
        </span>
      </div>
    </div>
    <div class="form">
      <div v-for="(data,i) in datas">
        <label>{{ i }}</label>
        <input
          v-model="data.value"
          type="number"
        >
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        datas: []
      }
    },
    mounted() {
      this.genetateData();
    },
    methods: {
      gen_style(now_data) {
        return {
          "height": now_data*20 + "px",
          "backgroundColor": "rgb("+now_data*10+","+now_data*15+","+now_data*15+")"
        };
      },
      genetateData() {
        this.datas = Array.from(
          {length: 10},
          (data, i)=>({value: parseInt(Math.random()*10 + 5)})
        ); 
      }
    }
  }
  
</script>
<style>
  .graph {
    vertical-align: bottom;
  }
  .bars {
    display: inline-block;
  }
  .form {
    display: inline-block;
    margin-left: 10px; 
  }
  .bar {
    width: 30px;
    display: inline-block;
    margin-right: 10px;
    transition-duration: 0.5s;
    position: relative;
    /*box-shadow: 3px -3px 5px #EE9900 inset;*/
  }
  .text {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    color: white;
  }
  
</style>