<template>
  <div class="container">
    <h1>Temperature Conversion</h1>
    <input type="checkbox" id="toggleTemparature" v-model="isCelsius">
    <label for="toggleTemparature">切換:{{toggleTemparature}}</label>

    <h2 v-if="isCelsius">攝氏:{{ result }}°C</h2>
    <h2 v-if="!isCelsius"> 華氏:{{ result }} °F </h2>
    <div class="celsius">
      <span v-show="!isCelsius">攝氏:</span>
      <span v-show="isCelsius"> 華氏:</span>
      <input type="number" v-model="userInput">
      <span v-show="!isCelsius">°C</span>
      <span v-show="isCelsius"> °F</span>
    </div>

    <button @click="temperatureConversio(userInput)">
      Temperature Conversio
    </button>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        userInput:0,
        isCelsius:false,
        result:0
      }
    },
    computed: {
    fahreheit() {
      this.result = this.userInput*9/5 + 32;
    },
    celsius() {
      this.result = (this.userInput - 32) * 5/9;
    },
    toggleTemparature(){
      return this.isCelsius ? "攝氏轉華氏" : "華氏轉攝氏";
    }
  },
  methods:{
    temperatureConversio(val) {
      if(this.isCelsius) {
         this.celsius;
      }
      else {
        this.fahreheit;
      }
    }
  }
}
</script>

<style>
  
</style>