<template>
  <div class="gameView">
    <div class="blocks">
      <div class="actor" 
        :style="actorSytle"
      >
      </div>
      <block
        :list="datas"
      >
      </block>
      <div class = "floor"></div>
    </div>
  </div>
</template>
<script>
  import block from './gameComponents/block.vue'

  export default {
    components: {block},
    data() {
      return {
        datas: [],
        mouse: {
          x:0,
          y:0
        },
        actorCurrent: {
          x:0,
          y:750,
          height: 50,
          width: 50
        },
        actor: {
          x:0,
          y:0
        }
      }
    },
    created() {
      this.genetateData();
      document.addEventListener('keydown', () => {
        if(event.keyCode === 37) { //left
          this.moveLeft();
        }
        if(event.keyCode === 38) { //up
          this.moveUp();
        }
        if(event.keyCode === 39) { //right
          this.moveRight();
        }
        if(event.keyCode === 40) { //down
          this.squat();
        }});
      document.addEventListener('keyup', () => {
        if(event.keyCode === 40) { //down
          this.squatUp();
        }});
      //this.startGame();
    },
    mounted() {

      //this.startGame();
    },

    computed: {
      actorSytle() {
        return {
          top: this.actorCurrent.y + 'px',
          left: this.actorCurrent.x + 'px',
          height: this.actorCurrent.height + 'px',
          width: this.actorCurrent.width + 'px',
        }
      },
      follow() {
        return {
          width: 50 + "px",
          backgroundColor: "rgb("+ 5*30 +","+ 5*45 + "," + 5*45+ ")",
          top: parseInt(Math.random()*(this.actorCurrent.y + 10  - this.actorCurrent.y - 10) + this.actorCurrent.y - 10) + 'px',
          left: parseInt(Math.random()*(this.actorCurrent.x + 10  - this.actorCurrent.x - 10) + this.actorCurrent.x - 10) + 'px'
        }
      },

      gravity() {
        
      }
    },
    methods: {
      genetateData() {
        this.datas = Array.from(
          {length: 10},
          (data, i)=>({
            value: parseInt(Math.random()*5 + 1),
            positionX: 180 * i,
            positionY: parseInt(Math.random()* 500 + 100)
          })
        ); 
      },

      startGame() {
        this.intval = setInterval(() => {
          this.move();
        }, 1000/5);
      },
      
      move() {
        this.datas.forEach((data) => {
          data.positionX -= 10;
          if(data.positionX < -10) {
            data.positionX = 1850;
          }
        });
      },
      
      squat() {
        this.actorCurrent.y += 10;
        this.actorCurrent.width = 60; 
        this.actorCurrent.height = 40; 
      },

      squatUp() {
        this.actorCurrent.y -= 10;
        this.actorCurrent.width = 50; 
        this.actorCurrent.height = 50; 
      },

      moveUp() {
        this.actorCurrent.y -= 5;
      },

      moveRight() {
        this.actorCurrent.x += 5;
      },

      moveLeft() {
        this.actorCurrent.x -= 5;
      }

    }
  }
  
</script>
<style>
  .gameView {
    margin: 0;
    /*vertical-align: bottom;*/
    height: 600px;
  }
  .blocks {
    height: 100%;
  }

  .actor {
    position: absolute;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background: gray;
    top: 800px;
    left: 0px;
  }

  .floor {
    position: absolute;
    top: 800px;
    width: 100%;
    height: 150px;
    background: brown;
  }
  
</style>